<!-- navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c5c8c9;">
    <a class="navbar-brand" href="/">
        <img src="/img/Q&A.png" alt="Question & Answer" width="30" height="30">
    </a>
</nav>
